---
import ButtonHome from '../components/ButtonHome.astro';
import { db, Himnos as dataHimnos, Himnario } from 'astro:db';
import Layout from '@/layouts/Layout.astro';
import { CirclePlus } from 'lucide-react';
import { Jovenes } from 'astro:db';
import { Suplementario } from 'astro:db';
import HimnoList from '@/components/HimnoList';

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect('/signin');
}

const himnos = await db.select().from(dataHimnos);
const himnario = await db.select().from(Himnario);
const jovenes = await db.select().from(Jovenes);
const suplementario = await db.select().from(Suplementario);
---

<Layout>
  <div class="min-h-screen flex flex-col items-center w-full p-4">
    <div class="w-full max-w-3xl">
      <ButtonHome />
      <div class="flex justify-between items-center mb-6 mt-8">
        <h1 class="text-4xl font-bold text-white drop-shadow-lg">
          Gestión de Himnos
        </h1>
        <a
          href="/addHymn"
          class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full transition-colors duration-300 text-center"
        >
          <CirclePlus />
        </a>
      </div>
      <HimnoList
        client:idle
        himnos={himnos}
        himnario={himnario}
        jovenes={jovenes}
        suplementario={suplementario}
        isManagment={true}
      />
    </div>
  </div>
</Layout>
