---
import ButtonHome from '../components/ButtonHome.astro';
import Layout from '../layouts/LayoutPrincipal.astro';
import HimnoList from '@/components/HimnoList';
import {
  db,
  Himnos as dataHimnos,
  Himnario,
  Jovenes,
  Suplementario,
} from 'astro:db';

const himnos = await db.select().from(dataHimnos);
const himnario = await db.select().from(Himnario);
const jovenes = await db.select().from(Jovenes);
const suplementario = await db.select().from(Suplementario);
---

<Layout>
  <div class="min-h-screen flex flex-col items-center w-full p-4">
    <div class="w-full max-w-3xl">
      <ButtonHome />
      <h3 class="text-4xl font-bold text-center mb-8 text-white drop-shadow-lg">
        Himnos
      </h3>
      <HimnoList
        client:idle
        himnos={himnos}
        ,
        jovenes={jovenes}
        ,
        himnario={himnario}
        ,
        suplementario={suplementario}
        ,
      />
      <!-- <ListadoHimnosComponent
        client:load
        himnos={himnos}
        himnario={himnario}
        jovenes={jovenes}
        suplementario={suplementario}
      /> -->
    </div>
  </div>
</Layout>
