---
import { db, Himnos, Himnario, Suplementario, Jovenes, eq } from 'astro:db';
import FormAddHymn from '@/components/FormAddHymn';
import Layout from '@/layouts/Layout.astro';
import { ChevronLeftIcon, ChevronRightIcon } from 'lucide-react';
import { desc } from 'astro:db';
import ButtonHome from '@/components/ButtonHome.astro';
const { id } = Astro.params;
const formatId = Number(id);
const [himno] = await db.select().from(Himnos).where(eq(Himnos.id, formatId));

if (!himno) {
  return Astro.redirect('/404');
}

const [numeroJovenes] = await db
  .select()
  .from(Jovenes)
  .where(eq(Jovenes.himnoId, himno.id));

const [numeroHimnario] = await db
  .select()
  .from(Himnario)
  .where(eq(Himnario.himnoId, himno.id));

const [numeroSuplementario] = await db
  .select()
  .from(Suplementario)
  .where(eq(Suplementario.himnoId, himno.id));

const currentHymnal = numeroHimnario ? Himnario : Jovenes;
const currentHymn = numeroJovenes || numeroHimnario;

const [nextHymn] = await db
  .select()
  .from(currentHymnal)
  .where(eq(currentHymnal.numero, currentHymn.numero + 1));

const [prevHymn] = await db
  .select()
  .from(currentHymnal)
  .where(eq(currentHymnal.numero, currentHymn.numero - 1));

const [lastHymnNumber] = await db
  .select()
  .from(currentHymnal)
  .orderBy(desc(currentHymnal.numero))
  .limit(1);

const prevUrl =
  prevHymn && prevHymn.numero - 1 > 0 ? `/editHymn/${prevHymn.himnoId}` : null;
const nextUrl =
  nextHymn && nextHymn.numero < lastHymnNumber.numero
    ? `/editHymn/${nextHymn.himnoId}`
    : null;
---

<Layout>
  <div class="min-h-screen flex flex-col items-center w-full p-4">
    <div class="w-full max-w-4xl">
      <ButtonHome href="/HymnManagement" label="Atrás" />
      <h1
        class="text-4xl font-bold text-center mt-4 mb-8 text-white drop-shadow-lg"
      >
        Editar Himno
      </h1>
      <div class="flex justify-between p-2">
        <a
          href={prevUrl || '#'}
          class={`flex items-center justify-center w-10 h-10 rounded-full shadow-lg transition-transform duration-200 ease-out ${
            prevUrl
              ? 'bg-blue-500 hover:bg-blue-400 hover:scale-110'
              : 'bg-gray-400  pointer-events-none'
          }`}
        >
          <ChevronLeftIcon
            className={`w-8 h-8 ${prevUrl ? 'text-white' : 'text-gray-300'}`}
          />
        </a>
        <a
          href={nextUrl || '#'}
          class={`flex items-center justify-center w-10 h-10 rounded-full shadow-lg transition-transform duration-200 ease-out ${
            nextUrl
              ? 'bg-blue-500 hover:bg-blue-400 hover:scale-110'
              : 'bg-gray-400  pointer-events-none'
          }`}
        >
          <ChevronRightIcon
            className={`w-8 h-8 ${nextUrl ? 'text-white' : 'text-gray-300'}`}
          />
        </a>
      </div>

      <div
        class="bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-3xl shadow-xl p-6 mb-8"
      >
        <FormAddHymn
          client:load
          himno={himno}
          numeroJovenes={numeroJovenes}
          numeroHimnario={numeroHimnario}
          numeroSuplementario={numeroSuplementario}
        />
      </div>
    </div>
  </div>
</Layout>
